@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
    --primary-font: "Lato", "sans-serif";
    --secondary-font: "Roboto", "sans-serif";
    --primary: #1f1f1f;
    --primary-light: #9d9d9d;
    --black: #000000;
    --grey: #595959;
    --grey-light: #848484;
    --green: #00ae31;
    --blue: #0075ff;
    --blue-light: #d7ecff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--primary-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    // overflow-x: hidden;
}

.App {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
}

.activeNavLink {
    background: var(--blue-light);
    border-radius: 0.2rem;
}